$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$active-purple: #766cf1;
$default-radius: 20px;

body {
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: cover;
    background-color: $pale-blue;
    font-family: 'Red Hat Display';
}

#hero-image {
   width: 33vw;
   border-radius: $default-radius $default-radius 0px 0px;
}

.main-card {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33vw;
    height: 80vh;
    border-radius: $default-radius;
    box-shadow: 10px 10px 100px #3829e030;
}

.content{
    text-align: center;
    text-wrap: true;
    padding: 1vh 4vw;
}

.content h1 {
    font-size: 24px;
    color: $dark-blue;
}

p {
    font-size: 16px;
    color: $desaturated-blue;
}

.price-card {
    background-color: $very-pale-blue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: 15px 20px;
}

.price-icon-details {
    flex: 1;
    display: flex;
 }

.price-details p {
    padding: 0;
    margin: 0;
}

.price-details .title {
    color: $dark-blue;
    font-weight: 900;
}

#music-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#change-button {
    text-decoration: underline;
    color: $bright-blue;
    cursor: pointer;
    transition-duration: 0.4s;
}

#change-button:hover {
    text-decoration: none;
    color: $active-purple;
}

button {
    border: none;
    border-radius: 10px;
    font-weight: 900;
    padding: 15px;
    width: 100%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.payment-button {
    background-color: $bright-blue;
    color: white;
    box-shadow: 10px 10px 50px #3829e042;
    margin: 25px 0 15px 0;
}

.payment-button:hover {
    background-color: $active-purple;
}

.cancel-button {
    background-color: transparent;
    color: $desaturated-blue;
}

.cancel-button:hover {
    color: $dark-blue;
    font-weight: 900;
}

.attribution {
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url('./images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-position: cover;
        background-color: $pale-blue;
        font-family: 'Red Hat Display';
    }

    #hero-image {
        width: 80vw;
        border-radius: $default-radius $default-radius 0px 0px;
     }
     
     .main-card {
         background-color: white;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 80vw;
         height: 80vh;
         border-radius: $default-radius;
         box-shadow: 10px 10px 100px #3829e030;
     }

}